---
navigation:
- text: Home
  url: /index.html
  active: home
- text: About
  url: /about.html
- text: Project
  url: /project.html
---


{% include header.html %}

<style>
  header {
    position: fixed;
    width: 100%;
  }
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}

.content {
  width: 100%;
}
.menu {
  background-color: pink;
  width: 20%;
  max-width: 320px;
  min-width: 200px;
}
.hero-block {
  background: hotpink;
  padding: 10vh 0px;
  margin-bottom: 2vh;
}


.vertical-menu {
  background: yellow;
  width: 20%;
  max-width: 320px;
  min-width: 200px;
  height: 100vh;
  overflow-y: auto;
}


</style>

<div class="flex-container">
  <div class="menu">
    {% include menu.html %}
  </div>

  <div class="content">
    <div class="hero-block">
      <div class="container">
        <h1>h1. Bootstrap heading</h1>
        <p class="lead">
          This is a lead paragraph. It stands out from regular paragraphs.
        </p>
      </div>
    </div>

    <div class="container">
      <h1>h1. Bootstrap heading</h1>
      <h2>h2. Bootstrap heading</h2>
      <h3>h3. Bootstrap heading</h3>
      <h4>h4. Bootstrap heading</h4>
      <h5>h5. Bootstrap heading</h5>
      <h6>h6. Bootstrap heading</h6>
    </div>

    {% include footer.html %}
  </div>

</div>
