---
navigation:
- text: Home
  url: /index.html
- text: About
  url: /about.html
- text: Project
  url: /project.html
  active: project
---

{% include header.html %}

{% unless page.layout == 'front' %}
  <ul class="navigation">
    {% for link in site.navigation %}
      {% assign current = nil %}
      {% if page.url == link.url or page.layout == link.layout %}
        {% assign current = 'current' %}
      {% endif %}

      <li class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
        <a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a>
      </li>
    {% endfor %}
  </ul>
{% endunless %}


<body>

<style>
  li.active a {
      color: lightgray;
      cursor: default;
    }


    header .navbar {
      padding-left: 12px;
      position: fixed;
      width: 100%;
    }
    .wrapper {
      padding-top: 56px;
    }
    .left-menu {
      background: aliceblue;
      width: 250px;
      height: calc(100vh - 56px);
      float: left;
      border-right: 1px solid grey;
    }
    .content {
      float: left;
      padding: 20px;
    }



    html, body {
      height: 100%;
      overflow: hidden;
    }
    .wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: auto;
    }
</style>

  <div class="container-fluid wrapper">
    <div class="left-menu">
      {% include menu.html %}
    </div>

    <div class="content">
      {% assign url = page.url|remove:'index.html' %}
        {% for link in page.navigation %}
        <li {% if url == link.url %}class="active"{% endif %}>
            <a href="{{link.url}}" title="{{link.title}}">{{link.text}}</a>
        </li>
      {% endfor %}
      {{ page.url }}


      <h1>h1. Bootstrap heading</h1>
      <h2>h2. Bootstrap heading</h2>
      <h3>h3. Bootstrap heading</h3>
      <h4>h4. Bootstrap heading</h4>
      <h5>h5. Bootstrap heading</h5>
      <h6>h6. Bootstrap heading</h6>
    </div>

    {% include footer.html %}
  </div>

</body>
