// Mobile
@media only screen and (max-width: 600px) {
  body {
    background: pink;
  }
  .menu {
    display: none;
  }
  .flex-container {
    padding-left: 0px;
  }
  .navbar-toggler {
    display: block;
  }
}


// Tablet
@media only screen and (min-width: 601px) {
  .flex-container {
    padding-left: 200px;
  }

}

// Desktop
@media only screen and (min-width: 991px) {
  .flex-container {
    padding-left: 20%;
  }
}


// Desktop Large
@media only screen and (min-width: 1350px) {
  body {
    background: red;
  }
}
