---
---

@import
        "media"
;
header .navbar {
  padding-left: 12px;
  border-bottom: 1px solid grey;
  z-index: 100;
}
footer {
  background: rebeccapurple;
  margin-top: 100px;
  padding: 50px 0px;
}
.container-fluid {
  padding: 0px;
}
